/* axis */

text {
    font-family: Roboto, sans-serif;
    font-size: 12px;    
}
.axis { /* axis labels */
    fill: #808080;
}

.axis line{ /* axis tick marks */
    stroke-width : 1;
    stroke: grey;
    shape-rendering: crispEdges;
}

.axis path { /* axis line */
    stroke-width : 1;
    stroke: grey;
    shape-rendering: crispEdges;
}

/* timeline band */

.band { /* band background */
//    fill: #FAFAFA;
}

/* labels */

.bandLabel {
    fill: #F0F0F0;
    font-weight: bold;
}

.bandMinMaxLabel {
    fill: black;
    font-weight: bold;
}

.bandMidLabel {
    fill: black;

    font-weight: bold;
}
.brush .extent {
    stroke: gray;
    fill: black;
    fill-opacity: .1;
}

.chart {
    fill: #EEEEEE;
}

.interval {
    fill: #CFD8DC;
    stroke-width: 6;
    cursor : default;
    pointer-events: true;
}

.instant {
    fill: #90A4AE;
    stroke-width: 6;
    cursor : default;
    /*pointer-events: true;*/
}

.instantLabel {
    fill : black;
    shape-rendering: crispEdges;
}

.intervalLabel {
    fill : black;
    shape-rendering: crispEdges;
}

.item {
    cursor : default;
    pointer-events: auto;
}

.svg {
    border: 1px solid #78909C;
}

.tooltip {
    width: auto;
    position: absolute;
    visibility: hidden;
    color : white;
    cursor:default;
    background-color: #455A64;
    border: 1px solid;
    padding: 4px;
    shape-rendering: crispEdges;
    pointer-events: none;
}