/**
 * Place your custom styles here.
 */

@media (min-width: 1580px) {
  .container {
    width: 1550px;
  }
}
/**
 * Navigation
 */
#navbar .breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
}

/**
 * Pagination
 */

.pagination {
  li {
    a, span {
      float: none;
      border: 0;
      background-color: transparent;
      color: #607D8B;
      margin: 0;
      padding: 0;
    }
    a:hover, span:hover, a:focus, span:focus {
      color: #607D8B;
    }
  }
  li.active {
    a, span, a:hover, span:hover, a:focus, span:focus {
      color: #ECEFF1;
      background-color: transparent;
    }
  }
  li:first-child {
    a, span {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    span {
      margin-left: 5px;
    }
  }
  li:last-child {
    a, span {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

/**
 * Vertical tabs
 */
 
.tabs-below > .nav-tabs .summary, .tabs-left > .nav-tabs .summary, .tabs-right > .nav-tabs .summary {
  color: @darkbg-text;
}

.tabs-left > .tab-content, .tabs-right > .tab-content {
  background-color: #FFFFFF;
}

/**
 * Styles to override navbar module CSS.
 */

.navbar.container {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .navbar.container {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .navbar.container {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .navbar.container {
    max-width: 100%;
    width: 100%;
  }
}



/**
 * Navigation
 */
.admin .breadcrumb {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 56px;
  margin-bottom: 0;
  a, .active {
    color: #FFFFFF;
  }
  li + li:before {
    background: no-repeat url("//material-design.storage.googleapis.com/images/separator.svg") right center;
    background-size: contain;
    content: '';
    float: left;
    height: 56px;
    margin: 0 .3em 0 .4em;
    width: .4em;
  }
}


.primtabs {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: 10px;
    a.active {
      display: none;
    }
  }
}



.navbar.container, .navbar.container-fluid {
  margin-top: 0;
}
/**
 * Pagination
 * See issue: https://github.com/FezVrasta/bootstrap-material-design/issues/437
 */

.pagination {
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
    span {
      margin: 5px;
      display: inline-block;
      text-align: center;
      line-height: 30px;
    }
  }
  li:first-child i, li:last-child i {
    margin: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #607D8B;
  }
  li.active {
    background:  #546E7A;
    a {
      color: #FFFFFF;
    }
  }
  li > a {
    text-decoration: none;
    color: #546E7A;
  }
  li > a:active {
    color: #607D8B;
  }
  li > a:after {
    content: "";
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0.2;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: transform 0s ease-out 0.2s, opacity 0.2s ease-out 0s;
    -webkit-transition: -webkit-transform 0s ease-out 0.2s, opacity 0.2s ease-out 0s;
  }
  li > a:active:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    opacity: 1;
    transition: transform 0.2s ease-out, opacity 0.3s ease-out 0.1s;
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.3s ease-out 0.1s;
  }
  li.prev, li.next {
    width: auto;
    border-radius: 0;
  }
  li.prev a, li.next a {
    width: auto;
  }
  li.prev a:after, li.next a:after,
  li.prev > a:active:after, li.next > a:active:after {
    transform: none;
    opacity: 0;
    -webkit-transform: none;
    -ms-transform: none;
  }
}

/**
 * Forms
 */

.checkbox-material:after {
  content: "\0000a0\0000a0";
}

.form-textarea-wrapper {
  margin: 10px 0;
}

/**
 * Text
 */
 
.region-content {
  font-size: 14px;
}

/**
 * Misc overrides.
 */
 
.krumo-root {
  color: #000000;
}

@media (min-width: 768px) {
  .admin .breadcrumb {
    font-size: 24px;
    line-height: 64px;
    width: 100%;
  }
  .admin .breadcrumb > li + li:before {
    height: 64px;
    margin: 0 .7em 0 .8em;
  }
}

h2.pane-title, h2.block-title {
  font-size: 1.2em;
  font-weight: 500;
}

.menu.nav {
  float: left;
  margin: 0;
}

.form-group {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4,
body .container .well p, body .container-fluid .well p, body .container .jumbotron p, body .container-fluid .jumbotron p {
  font-weight: 400;
}
ul {
  list-style-type: disc;
}
.shadow-z-2 {
  .shadow-z-2;
}
.views-exposed-form .views-exposed-widget {
  max-width: 400px;
}
.row-action-primary {
  float: left;
  margin-left: -45px;
}
.row-button {
  float: left;
  margin-left: -45px;
}
.row-button-right {
  position: absolute;
  top: 8px;
  right: 0;
}
.btn.btn-fab.rate1 {  background-color: #F44336; } 
.btn.btn-fab.rate2 {  background-color: #F57C00; } 
.btn.btn-fab.rate3 {  background-color: #FFB300; }
.btn.btn-fab.rate4 {  background-color: #9E9D24; }
.btn.btn-fab.rate5 {  background-color: #388E3C; }
.btn.btn-fab.rate6 {  background-color: #009688; } 
.btn.btn-fab.rate7 {  background-color: #2196F3; } 
.btn.btn-fab.rate8 {  background-color: #3F51B5; } 
.btn.btn-fab.rate9 {  background-color: #673AB7; }

.region-content ul.term-reference-tree-level, .term-reference-tree-level {
  line-height: 2.2em;
}
.item-list .field-widget-term-reference-tree ul .form-item, 
.block .field-widget-term-reference-tree ul .form-item, 
.field-widget-term-reference-tree ul .form-item {
  margin: 0 0 0 8px;
}

.form-group .checkbox label, 
.checkbox label,
.form-group .radio label, 
.radio label,
.form-group label {
  color: #607D8B;
}
.no-term-reference-tree-button {
  background-color: transparent;
}
.field-widget-term-reference-tree .form-group label.control-label {
  margin: 0;
}


.knowledge:before, .Knowledge:before {  content: "lightbulb_outline";}
.person:before, .Person:before {  content: "person";}
.publication:before, .Publication:before {  content: "book";}
.event:before, .Event:before {  content: "event";}
.collection:before, .Collection:before {  content: "view_headline";}

.list-group .list-group-item .row-action-primary i {
  font-size: 30px;
}
.list-group .list-group-item{
  min-height: 70px; 
  padding: 10px 0 15px 50px;
}
.list-group {
  margin-bottom: 0;
}
.taglist ul {
  margin: 0;
  padding: 0;
}
.taglist li {
  display: inline;
  padding: .3em .6em;
  font-size: 75%;
  line-height: 2.2em;
  color: #37474F;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1px;
  background-color: #CFD8DC;
}
.views-field-field-tags a {
  border-radius: 1px;
  padding: .3em .6em;
  background-color: #CFD8DC;
  display: inline;
  font-size: 75%;
  line-height: 2.2;
  color: #37474F;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.views-field-field-tags a:hover {
  text-decoration: none;
}
.panel > .panel-heading, .panel.panel-default > .panel-heading {
  background-color: #CFD8DC;
}
.view-filters {
  margin-bottom: 20px;
}

body .container .well p, body .container-fluid .well p, body .container .jumbotron p, body .container-fluid .jumbotron p {
  font-weight: 400;
}


/* ------------- Text Selection Color ------------- */
::selection {
  background: #FAEB96; 
  }
::-moz-selection {
  background: #FAEB96;
}

/* ------------- Taxonomy terms ------------- */
ul.term,
ul.term ul {
  list-style:none;
  margin:0;
  padding:0;
}
ul.term ul {
  margin-left:10px; /* indentation */
  position:relative;
}
ul.term ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}
ul.term li {
  margin: 0 0 0 0;
  padding:4px 12px 0 10px; /* indentation + 2 */
  font-size: 1em;
  line-height:20px; /* default list item `line-height` */
  position:relative;
}
ul.term ul li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  position:absolute;
  top:10px;
  left:0;
}
ul.term ul li:last-child:before {
  background: #fff; /* same with body background */
  height:auto;
  top:10px; /* (line-height/2) */
  bottom:0;
}
ul.term li a {
  font-weight: 400;
  border-radius: 1px;
  padding: .3em .6em;
  background-color: #90A4AE;
  display: inline;
  font-size: 75%;
  line-height: 1;
  color: #ECEFF1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
ul.term li.selected a {
    font-weight: 400;
  color: #ECEFF1;
  background-color: #607D8B;
  &:hover {
    background: darken(#607D8B, 20%);  
  }
}
ul.term li a:hover {
  text-decoration: none;
}

/* ------------- Flags ------------- */
/*.pane-node-flag-pending-work-link a,
.pane-node-flag-review-reminder-link a{
      .btn;
      .btn.btn-raised;
  line-height: 3;
}*/
.unflag-action {
  background-color: #607D8B !important;
  color: #ECEFF1 !important;
} 
/*
.active {
  color: #607D8B;
}
*/
/* ------------- Tabs ------------- */
/*
ul.tabs {
  border: 0;
  margin: 0;
  padding: 0;

}
ul.tabs li a, ul.tabs li a:link, ul.tabs li a:visited {
  .btn;
}

ul.tabs li{
  display: block;
  float: left;
  margin: 0;
}
ul.tabs li.active{
  display: none;
}
*/
/* ------------- varia  ------------- */
/*
mark,
.marker {
  padding: 0.1em 0.5em;
  background: @grey-light;
  color: #fff;
  text-transform: capitalize;
  @include border-radius(10px);
}

html.js .form-autocomplete {
  background-image: none;
}
.form-required {
  color:@grey-dark;
}
.node-form input {
  width: auto;
}
.did-you-mean {
  display: block;
}

.collapsible a.fieldset-title, legend{
  background-color: @default200;
  color: @default900;
  padding: 4px 12px;
  -moz-border-radius:@mdl-btn-border-radus;
  -webkit-border-radius:@mdl-btn-border-radus;
  border-radius:@mdl-btn-border-radus;
}
fieldset {
  margin: 12px 0;
  // border-color: @default500;
  border: 0;
  background-color: @default50;
  box-shadow: 0 1px 2px 0 @default500;
}
fieldset.collapsed{
  background-color: transparent;
  box-shadow: none; 
}
.container-inline-date .form-item input {
  width: @width-form-input;
}
*/

.element-invisible {
  display: none;
}

ul.pager li {
  list-style-type: none;
  list-style-image: none;  
}

// Event date field on event nodes
.field--name-field-event-date {
}
.field--name-field-event-date .date-display-end {
  display:block;
}


#user-login-form ul {
  margin: 0; 
  padding: 0;
}
#user-login-form ul li{
  list-style-type: none;
  list-style-image: none;  
}

.block--apachesolr-panels-search-form {
  padding-left: 20px;
  margin-right: 50px;
}
.block--search-form{
  padding-left: 20px;
}
.container-inline .form-item-search-block-form {
  display: block;
  margin-right: 50px; 
}
.apachesolr-panels-search-block input.form-text,
.form-item-search-block-form input.form-text {
  width: 100%;
}
.apachesolr-panels-search-block .form-actions, .search-block-form .form-actions {
  display: none;
}

.content-search input.form-text {
  color: #fff;
}


/* ------------- UI Slider ------------- */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  background: #607D8B;
}
.form-type-slider label {
  padding-bottom: 15px;
}
.sliderfield-display-values-field {
  display: none;
}
.sliderfield .sliderfield-bubble {
  border:0;

}

/* ------------- Tag Tree ------------- */
.view-tag-tree .view-content div ul li {
  margin-left: 30px;
  list-style-type: square;
}
.view-tag-tree .view-content {
  margin-top: 30px;
}




.well h2.pane-title {
  margin-top: 5px;
}
.well .panel-pane {
    margin-bottom: 40px;
}
#relation-add-explanation {
  display: none;
}

// hide search submit button on frontpage
#edit-submit-search {
  display: none;
}



.btn-fab i.material-icons {
  font-size: 20px;
}

.btn-fab.btn-fab-mini i.material-icons {
  font-size: 16px;
}

.form-item-search-api-views-fulltext input {
  color: #ECEFF1;
}

.form-item-search-api-views-fulltext .glyphicon, .form-item-search-api-views-fulltext .glyphicon.glyphicon-spin {
  color: #ECEFF1;
}

#edit-search-api-views-fulltext-wrapper {
  margin-left: 10px;
  width: 250px;
}
.views-exposed-widgets {
  margin-bottom: 0;
}

.navbar .dropdown-menu .active > a, .navbar.navbar-default .dropdown-menu .active > a {
  color: #000;
  background-color: #CFD8DC;  
}
.navbar .dropdown-menu .active > a:hover, .navbar.navbar-default .dropdown-menu .active > a:hover, .navbar .dropdown-menu .active > a:focus, .navbar.navbar-default .dropdown-menu .active > a:focus {
  color: #000;
}


// on node view page, show big icon
.page-node h1.page-header {
  display: none;
}
h1.nodeviewtitle {
  margin: 0 0 20px 0;
  padding: 20px 0 0 95px;
}
#node-view-icon, #node-view-title {
  float: left;
}
#node-view-icon .btn.btn-fab {
  height: 70px;
  width: 70px;
}
#node-view-icon .btn.btn-fab i.material-icons {
  font-size: 45px;
  transform: translate(-22px,-11px);
}

.search-api-sort-active img {
    display: inline-block;
    margin: 5px;
    background-color: #ECEFF1;
    padding: 4px;
    border-radius: 12px;
    color: white;
    width: 24px;
    height: 24px;
    border: 1px solid #90A4AE;
}
ul.search-api-sorts {
  list-style: none;
  padding: 0;
}
ul.search-api-sorts li {
  line-height: 3em;
}
.block-facetapi button {
  display: none;
}
.list-group-item h3 {
  margin-top: 10px;
}

ul.facetapi-processed {
  padding-left: 0;
}
.small, small {
  font-size: 11px;
}
#autocomplete li {
  white-space: normal;
  padding: 5px;
}
html.js input.form-autocomplete {
  background-image: linear-gradient(#546e7a,#546e7a),linear-gradient(#D2D2D2,#D2D2D2);
  background-position: center bottom,center calc(100% - 1px);
}

.btn, .input-group-btn .btn {
  padding: 8px 15px;
}
.flag-wrapper {
  display: inline-block;
  float: left;
  margin-right: 8px;
}

body .container .well, body .container-fluid .well {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19)
}

.finder-form button {
  display: none;
}
#autocomplete ul li:hover {
  background-color: #CFD8DC;
}


.field-name-body p, .field-name-body li{
  font-size: 16px;
}
.tab-margin {
	margin-bottom: 20px;
}

 
.flag-waiting .flag-throbber {
	position: absolute;
    top: 15px;
    left: 2px;
}

.panel > .panel-heading, .panel.panel-default > .panel-heading {
	background-color: #607D8B;
    color: #ECEFF1;
}

details.more summary {
  padding: 6px 12px;
  color: #ECEFF1;
  background-color: #607D8B;
  display: inline-block;
  cursor: pointer;
}

.small .material-icons {
  font-size: 16px;
}

