{#
/**
 * @file
 * Contains the text of the analytics page
 */
#}

<div class="row">
	<div class="col-md-12">
		<p>
		This page is for analytics. Add content by configuring blocks.
		</p>
	</div>
</div>