{#
/**
 * @file
 * Contains the text of the cheatsheet page
 */
#}

<div class="row">
	<div class="col-md-6">
		<h4>Content types</h4>
		<p>	<button class="btn btn-fab btn-primary"><i class="material-icons knowledge"></i></button> Knowledge </p>
		<p>	<button class="btn btn-fab btn-primary"><i class="material-icons place"></i></button> Place </p>
		<p>	<button class="btn btn-fab btn-primary"><i class="material-icons person"></i></button> Person </p>
		<p>	<button class="btn btn-fab btn-primary"><i class="material-icons event"></i></button> Event </p>
		<p>	<button class="btn btn-fab btn-primary"><i class="material-icons publication"></i></button> Publication </p>
		<p>	<button class="btn btn-fab btn-primary"><i class="material-icons object"></i></button> Object </p>
		<p>	<button class="btn btn-fab btn-primary"><i class="material-icons collection"></i></button> Collection </p>		
	</div>
	<div class="col-md-6">
		<h4>Rating</h4>
		<p>	<button class="btn btn-fab btn-primary" rating="1"><i class="material-icons">star</i></button> 1 (least relevant) </p>
		<p>	<button class="btn btn-fab btn-primary" rating="2"><i class="material-icons">star</i></button> 2</p>
		<p>	<button class="btn btn-fab btn-primary" rating="3"><i class="material-icons">star</i></button> 3</p>
		<p>	<button class="btn btn-fab btn-primary" rating="4"><i class="material-icons">star</i></button> 4 (default)</p>
		<p>	<button class="btn btn-fab btn-primary" rating="5"><i class="material-icons">star</i></button> 5</p>
		<p>	<button class="btn btn-fab btn-primary" rating="6"><i class="material-icons">star</i></button> 6</p>
		<p>	<button class="btn btn-fab btn-primary" rating="7"><i class="material-icons">star</i></button> 7</p>
		<p>	<button class="btn btn-fab btn-primary" rating="8"><i class="material-icons">star</i></button> 8</p>
		<p>	<button class="btn btn-fab btn-primary" rating="9"><i class="material-icons">star</i></button> 9 (best, most relevant)</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>Elements</h4>
		<ul>
			<li><strong>Description</strong>: Default, text</li>
			<li><strong>Article</strong>: </li>
			<li><strong>Comment</strong>: </li>
			<li><strong>Summary</strong>: T</li>
			<li><strong>Table</strong>: Custom table</li>
			<li><strong>Date</strong>: Date incl. </li>
			<li><strong>Location</strong>: Geographical data</li>
			<li><strong>Custom</strong>: Custom data</li>
		</ul>
	</div>
	<div class="col-md-6">
		<h4>Shortcuts</h4>
		<ul>
			<li><strong>i</strong>: Index</li>
			<li><strong>s</strong>: Search</li>
			<li><strong>Shift + k</strong>: Create knowledge</li>
			<li><strong>Shift + u</strong>: Create publication</li>
			<li><strong>Shift + p</strong>: Create person</li>
			<li><strong>Shift + e</strong>: Create event</li>
			<li><strong>Shift + l</strong>: Create place</li>
			<li><strong>Shift + o</strong>: Create object</li>
			<li><strong>Shift + c</strong>: Create collection</li>
		</ul>
	</div>
</div>