{#
/**
 * @file
 * Contains the text of the cheatsheet page
 */
#}

<div class="row">
	<div class="col-md-6">
		<h4>Content types</h4>
		<p>	<span class="btn btn-fab btn-primary"><i class="material-icons knowledge"></i></span> Knowledge </p>
		<p>	<span class="btn btn-fab btn-primary"><i class="material-icons place"></i></span> Place </p>
		<p>	<span class="btn btn-fab btn-primary"><i class="material-icons person"></i></span> Person </p>
		<p>	<span class="btn btn-fab btn-primary"><i class="material-icons event"></i></span> Event </p>
		<p>	<span class="btn btn-fab btn-primary"><i class="material-icons publication"></i></span> Publication </p>
		<p>	<span class="btn btn-fab btn-primary"><i class="material-icons object"></i></span> Object </p>
		<p>	<span class="btn btn-fab btn-primary"><i class="material-icons collection"></i></span> Collection </p>		
	</div>
	<div class="col-md-6">
		<h4>Rating</h4>
		<p>	<span class="btn btn-fab btn-primary" rating="1"><i class="material-icons">star</i></span> 1 (least relevant) </p>
		<p>	<span class="btn btn-fab btn-primary" rating="2"><i class="material-icons">star</i></span> 2</p>
		<p>	<span class="btn btn-fab btn-primary" rating="3"><i class="material-icons">star</i></span> 3</p>
		<p>	<span class="btn btn-fab btn-primary" rating="4"><i class="material-icons">star</i></span> 4 (default)</p>
		<p>	<span class="btn btn-fab btn-primary" rating="5"><i class="material-icons">star</i></span> 5</p>
		<p>	<span class="btn btn-fab btn-primary" rating="6"><i class="material-icons">star</i></span> 6</p>
		<p>	<span class="btn btn-fab btn-primary" rating="7"><i class="material-icons">star</i></span> 7</p>
		<p>	<span class="btn btn-fab btn-primary" rating="8"><i class="material-icons">star</i></span> 8</p>
		<p>	<span class="btn btn-fab btn-primary" rating="9"><i class="material-icons">star</i></span> 9 (best, most relevant)</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>Elements</h4>
		<p>coming soon </p>
	</div>
	<div class="col-md-6">
		<h4>Relations</h4>
		<p>coming soon </p>
	</div>
</div>


